/* inicio.component.css */

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

canvas {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: auto; /* Enable horizontal scroll for the table */
}

.mat-paginator {
  align-self: flex-end;
}

table {
  width: 100%;
}

th.mat-header-cell,
td.mat-cell {
  white-space: nowrap; /* Prevent table cells from wrapping */
}
