



<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <!--aca va el header-->

   
    <div class="card-footer text-body-secondary">
      <div class="row">
            <div class="col-4">
              <div class="card card-block" >
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title 1</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
            </div>
    
          </div>
          
            <div class="col-4">
              <div class="card card-block">
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body ">
                    <h5 class="card-title">Card title 2</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
            </div>
    
          </div>
            <div class="col-4 card-block">
              <div class="card " ; >
                  <img src="..." class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Card title 3</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
                </div>


  </div>
 <!--<div class="card-footer text-body-secondary"> --> 
<!--footer-->
</div>
<div class="card-footer text-body-secondary">
      <div class="row">
          <div class="col-3">
              <h1>elemento 1</h1>
          </div>
          <div class="col-3">
              <h1>elemento 2</h1>
          </div>
          <div class="col-3">
              <h1>elemento3</h1>
          </div>
          <div class="col-3">
              <h1>elemento 4</h1>
          </div>
      </div>
  </div>

  </div>
</div>


        
      





