<div class="entorno">
    <div class="container text-center">
        <div class="card">
         <div class="body-card">
             <form (ngSubmit)="login()">
                 <img src="https://img.freepik.com/vector-premium/icono-perfil-avatar_188544-4755.jpg?w=740" alt="user">
                 <h1 >login</h1>
                <div class="input"> <input type="text" placeholder="mail" name="mail" [(ngModel)]="persona.mail">
                </div>
                <div class="input"> <input type="password" placeholder="password" name="password" [(ngModel)]="persona.password">
                </div>
                
                <button [disabled]="!(persona.password && persona.mail)" class="button" type="submit" class="btn btn-primary">enviar</button>
             </form>
         </div>
        </div>
     </div>
</div>